@import "../../../../styles.scss";

.statistic-box{
    width:20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $royal-pruple; 
    color:$thistle;
    border-radius: 8px;   
    margin:1rem;
}
.one-cell{
    font-weight: 100;
    padding:1rem;
}