<div class="statistic-box">
  <table>
    <tr>
      <th class="one-cell">
        {{ statisticName }}
      </th>
    </tr>
    <tr>
      <th class="one-cell">
        <span class="statistic-value">
          @switch (statisticSevirity) { @case(Sevirity.GOOD){
          <span id = "good">{{ formattedStatisticValue +statisticUnit}}</span>
          } @case(Sevirity.WARN){
          <span id = "warn">{{ formattedStatisticValue+statisticUnit }}</span>
          } @case(Sevirity.BAD){
          <span id = "bad">{{ formattedStatisticValue+statisticUnit }}</span>
          } }
        </span>
      </th>
    </tr>
  </table>
</div>
