<div
  class="statistic-box"
  [ngClass]="{
    'border-good': statisticSevirity === Sevirity.GOOD,
    'border-warn': statisticSevirity === Sevirity.WARN,
    'border-bad': statisticSevirity === Sevirity.BAD
  }"
>
  <table>
    <tr>
      <th class="one-cell">
        {{ statisticName }}
      </th>
    </tr>
    <tr>
      <th class="one-cell">
        <span class="statistic-value">
          <span>{{ formattedStatisticValue + statisticUnit }}</span>
        </span>
      </th>
    </tr>
  </table>
</div>
