@import "../../../../styles.scss";
.outer-div {
  padding: 1rem;
  background-color: $dark-green !important;
}
.outer-div * {
  font-size: 2rem;
}
.inner-div-good {
  color: #37ce78;
}
$outline-color: rgba(0, 0, 0, 0.221);

.inner-div-warn {
  color: yellow;
}
.inner-div-error {
  color: red;
}
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 20px;
}
