@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "@fontsource/inter"; // Defaults to including all weights and styles

$dark-green: #262626;
$purssian-blue: #102b3f;
$royal-pruple: #6247aa;
$amethyst: #a06cd5;
$thistle: #e2cfea;
html {
  height: 100%;
}
body {
  background-color: $dark-green;
  margin: 0;
  height: 100%;
}
body > * {
  font-family: "Inter", sans-serif;
}
::ng-deep button {
  cursor: pointer;
}
