// @use "@angular/material" as mat;
// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "@fontsource/inter"; // Defaults to including all weights and styles

// $purssian-blue: #172a3a;
// $blue-munsell: #508991;
// $carolina-blue: #74b3ce;
// $midnight-green: #004346;
// $mint: #09bc8a;

$dark-green: #262626;
$purssian-blue: #102b3f;
$royal-pruple: #6247aa;
$amethyst: #a06cd5;
$thistle: #e2cfea;

body {
  background-color: $dark-green;
  margin: 0;
}
body > * {
  font-family: "Inter", sans-serif;
}
