@import "../../../../styles.scss";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "ngx-toastr/toastr";
@import "ngx-toastr/toastr-bs5-alert";

.statistic-title {
  font-size: 1.5rem;
  color: $amethyst;
  justify-content: center;
  text-align: center;
}
.statistic-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-statistic-title {
  margin-top: 3vh;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: $amethyst;
  justify-content: center;
  text-align: center;
}
::ng-deep body,
html {
  overflow-x: hidden !important;
}
#waiting-image {
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.waiting-image-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
