<div id="table-div">
  <table class="horizontal-bar">
    <tr class="horizontal-bar">
      <p id="header">Telemetry Device</p>
      <th>
        <button mat-button class="header-button" (click)="goToSimulator()">
          Simulator
        </button>
      </th>
      <th>
        <button mat-button class="header-button" (click)="goToArchive()">
          Archive
        </button>
      </th>
      <th><button mat-button class="header-button">System info</button></th>
      <th><button mat-button class="header-button">Kafka</button></th>
    </tr>
  </table>
</div>
