@import "../../../styles.scss";

#header {
  font-size: 23px;
  color: $amethyst;
  margin: 0;
}
#header-div {
  background-color: $dark-green;
  padding: 10px;
}
#table-div {
  background-color: $dark-green;
  padding: 10px;
  padding-bottom: 40px;
}
.horizontal-bar {
  width: 100%;
  margin: auto;
}
.horizontal-bar > * {
  font-size: 18px;
}
::ng-deep .header-button > * {
  font-size: 18px;
  color: $thistle !important;
}
::ng-deep .header-button:hover {
  color: $dark-green !important;
}
