@import "../../../styles.scss";

#main-container {
  display: flex;
  width: 100%;
}
::ng-deep body,
html {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.selector-paginator {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
}

.mat-mdc-paginator {
  background-color: #7862b3 !important;
  border-radius: 8px;
  margin-top: 0.4rem;
}
::ng-deep .mat-mdc-paginator-range-label {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.date-range-picker {
  display: inline-block;
  width: 90%;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.graphs-space {
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
}
mat-expansion-panel {
  width: 100%;
}
.graph-wrapper {
  height: 45% !important;
  width: 32%;
  margin: 0.3rem;
}
app-graph {
  width: 100%;
  display: block;
}
.graph {
  border: #d6c8fb 1px solid !important;
  border-radius: 8px;
}

::ng-deep .date-range-picker > .mat-mdc-text-field-wrapper {
  background-color: #7862b3 !important;
  color: white;
}
::ng-deep .date-range-picker .mat-mdc-text-field-wrapper > * {
  color: white !important;
}
::ng-deep .date-range-picker * {
  color: $thistle !important;
}
::ng-deep .mat-mdc-paginator-page-size-label {
  display: none !important;
}
.packet-type-selector-container {
  width: 100% !important;
}
.packet-type-selector {
  width: 90% !important;
  margin-bottom: -2rem;
}
::ng-deep .packet-type-selector * {
  color: $thistle;
}
::ng-deep .selector-paginator * {
  color: $thistle !important;
}

::ng-deep .packet-type-selector > .mat-mdc-text-field-wrapper {
  background-color: #7862b3 !important;
  margin-bottom: 2rem;
}

::ng-deep .mat-expansion-panel {
  background-color: #333232 !important;
  color: $thistle !important;
}

::ng-deep .mat-expansion-panel-header {
  background-color: #333232 !important;
  color: $thistle !important;
}

::ng-deep .mat-expansion-panel-body {
  background-color: #333232 !important;
  color: $thistle !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: $thistle !important;
}

::ng-deep .shared-buttons {
  color: lighten($amethyst, 15%) !important;
  font-size: 1rem;
  border-radius: 20px;
  height: 2.5rem !important;
  width: 5rem !important;
  &:hover {
    transform: scale(1.05) !important;
    filter: brightness(1.2) !important;
  }
}

::ng-deep .submit-button {
  @extend .shared-buttons;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;
  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
    color: white !important;
  }
}
::ng-deep .mat-calendar {
  background-color: #d6c8fb !important;
}
.param-type-selector {
  width: 90%;
  border: 1px solid dark $thistle;
  border-radius: 8px;
  overflow-y: auto;
  flex: 1;
  scrollbar-color: $thistle rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.6rem;
}
.param-type-selector th {
  text-align: left;
}
::ng-deep .mdc-checkbox__background {
  border-color: $amethyst !important;
}

::ng-deep .mdc-checkbox__background * {
  background-color: $amethyst !important;
  border-color: $amethyst !important;
}

::ng-deep .mdc-form-field > .mdc-label {
  color: $thistle !important;
  font-size: 1rem !important;
  font-weight: 200 !important;
}
.sidenav-selector-container {
  margin-right: 2vw;
  height: 90vh;
  background-color: #333232;
  border-radius: 5px;
}
.sidenav-selector-drawer {
  width: 15vw;
  height: auto;
}
::ng-deep .side-nav-row {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex !important;
  flex-direction: column !important;
}
.side-nav-header-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}
table.side-nav-row {
  width: 100%;
  table-layout: fixed;
}
::ng-deep .mat-drawer-content {
  overflow-x: hidden !important;
}
::ng-deep .mat-drawer {
  background-color: #333232 !important;
}
::ng-deep .mat-drawer-inner-container {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.menu-button {
  @extend .shared-buttons;
  width: 2.5rem !important;
  margin: 0.15rem;
  background: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  transition: all 0.2s ease !important;
  &:hover {
    background-color: rgba(255, 255, 255, 0.377) !important;
  }
}
.mat-drawer-container {
  overflow: visible;
}
.export-button-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.export-button {
  @extend .shared-buttons;
  margin: 0.3rem;
  height: 2.3rem !important;
  width: 30% !important;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;
  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
    color: white !important;
  }
}
.table-data {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.table-scroll {
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  max-height: 32vh;

  scrollbar-color: $thistle rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
.table-scroll-button {
  @extend .shared-buttons;
  margin: 0.4rem;
  height: 1.6rem !important;
  width: 2.5rem !important;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;
  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
    color: white !important;
  }
}
.toggle-table {
  @extend .shared-buttons;
  align-self: flex-start;
  margin: 0.3rem;
  height: 2.3rem !important;
  width: 30% !important;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;
  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
    color: white !important;
  }
}
.table-scroll-buttons {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}
.outer-table-scroll {
  min-height: 0;

  margin-left: auto;
  margin-right: auto;
  max-height: 35vh;
}
.table-header {
  color: $thistle;
}
.table-outer-header {
  margin-right: auto;
  margin-left: auto;
  width: 32%;
}
::ng-deep .mode-button {
  @extend .shared-buttons;
  margin: 0.3rem;
  height: 2.5rem !important;
  width: 40% !important;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;
  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
  }
}

::ng-deep .mdc-slider__value-indicator {
  background-color: $royal-pruple !important;
  padding: 0.35rem !important;
  opacity: 1 !important;
}
::ng-deep .mdc-slider__value-indicator-text {
  color: white;
}
::ng-deep .mdc-slider__value-indicator::before {
  display: none;
}
::ng-deep .timeline-date > .mat-mdc-text-field-wrapper {
  background-color: #7862b3 !important;
  color: white;
}
::ng-deep .timeline-date .mat-mdc-text-field-wrapper * {
  color: white !important;
}
::ng-deep .timeline-date {
  width: 90% !important;
}
.timeline-slider {
  margin-top: 1rem;
  width: 80%;
}
