<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div id="main-container">
  <mat-drawer-container class="sidenav-selector-container" autosize>
    <mat-drawer
      #drawer
      class="sidenav-selector-drawer"
      mode="side"
      opened="true"
      (opened)="onSidenavToggle()"
      (closed)="onSidenavToggle()"
    >
      <div class="side-nav-row">
        <div class="side-nav-header-buttons">
          <button mat-flat-button (click)="toggleTable()" class="toggle-table">
            @if(isShowTable) {
            <img
              matTooltipShowDelay="500"
              matTooltipHideDelay="1000"
              matTooltip="toggle graph"
              class="export-button-image"
              src="../../../assets/graphIcon.png"
              alt="Icon"
            />
            } @else{
            <img
              matTooltipShowDelay="500"
              matTooltipHideDelay="1000"
              matTooltip="toggle tables"
              class="export-button-image"
              src="../../../assets/tableIcon.png"
              alt="Icon"
            />
            }
          </button>
          @if(frameKeys().length > 0) {
          <button
            matTooltipShowDelay="500"
            matTooltipHideDelay="1000"
            matTooltip="export"
            mat-flat-button
            (click)="exportAllGraphs()"
            class="export-button"
          >
            <img
              class="export-button-image"
              src="../../../assets/export.png"
              alt="Icon"
            />
          </button>
          }

          <button
            mat-flat-button
            (click)="swithcTimelinePagination()"
            class="mode-button"
          >
            @if(isTimeLine){ timeline } @else { pagination }
          </button>
        </div>
        @if(!isTimeLine){
        <mat-form-field class="date-range-picker">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        } @if (isTimeLine) {
        <mat-slider
          class="timeline-slider"
          [max]="maxTimeline"
          [min]="minTimeline"
          [discrete]="true"
          [displayWith]="formatUnixDate"
          (change)="onTimeLineChange($event)"
        >
          <input matSliderStartThumb [(ngModel)]="startTimeLine" #slider />
          <input matSliderEndThumb [(ngModel)]="endTimeLine" #slider />
        </mat-slider>
        <mat-form-field
          class="timeline-date"
          appearance="fill"
          [formGroup]="timelineForm"
        >
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="timelineStart"
            (dateChange)="onStartDateChange($event)"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          class="timeline-date"
          [formGroup]="timelineForm"
        >
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="endPicker"
            formControlName="timelineEnd"
            (dateChange)="onEndDateChange($event)"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        }
        <mat-form-field class="packet-type-selector">
          <mat-label>Packet Type</mat-label>
          <mat-select [(value)]="packetTypeSelected">
            @for(packet of packetTypes; track packet) {

            <mat-option [value]="packet">{{ packet }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button
          mat-flat-button
          (click)="sendArchiveRequest(true)"
          class="submit-button"
        >
          submit
        </button>

        @if(frameKeys().length > 0) {

        <div class="param-type-selector">
          @for(paramType of frameKeys(); track $index) {
          <mat-checkbox
            [value]="paramType"
            (change)="onCheckboxChange($event)"
            >{{ paramType }}</mat-checkbox
          >
          <br />
          }
        </div>
        @if(!isTimeLine && frameKeys().length > 0){
        <div class="selector-paginator">
          <mat-paginator
            [length]="currentPacketCount"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100, 250, 500]"
            aria-label="Select page"
            (page)="onPageChange($event)"
          >
          </mat-paginator>
        </div>
        } }
      </div>
    </mat-drawer>

    <button mat-flat-button (click)="drawer.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer-container>

  <div class="graphs-space">
    @if(isShowTable){ @for(graphKey of getVisibleFrameKeys(); track $index) {
    @if( filterTables($index)){
    <div class="table-outer-header">
      <p class="table-header">{{ graphKey }}</p>
      <div class="table-scroll">
        <app-table-graph
          class="table-data"
          [valueColumns]="valueHeader"
          [tableData]="tableData.get(graphKey)!"
          [displayedColumns]="dataHeader"
        >
        </app-table-graph>
      </div>
    </div>

    } } @if(frameKeys().length > 0){

    <div class="table-scroll-buttons">
      <button class="table-scroll-button" (click)="moveTableRight()">
        {{ "<" }}
      </button>
      <button class="table-scroll-button" (click)="moveTableLeft()">
        {{ ">" }}
      </button>
    </div>
    } } @if(!isShowTable){ @for(graphKey of getVisibleFrameKeys(); track $index)
    { @if( filterGraphs($index)){
    <div class="graph-wrapper">
      <app-graph
        class="graph"
        [graphName]="graphKey"
        [graphData]="graphsRequest.framesList[graphKey]"
      ></app-graph>
    </div>
    } } @if(frameKeys().length > 0){

    <div class="table-scroll-buttons">
      <button class="table-scroll-button" (click)="moveGraphLeft()">
        {{ "<" }}
      </button>
      <button class="table-scroll-button" (click)="moveGraphRight()">
        {{ ">" }}
      </button>
    </div>
    } }
  </div>
</div>
