@import "../../../styles.scss";

#main-container {
  display: flex;
}
::ng-deep body,
html {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.selector-div {
  margin-top: 0.6rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #333232;
  width: fit-content;
}
.selector-inner {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-range-picker {
  width: 17vw;
  transform: translateY(10px);
}

::ng-deep .date-range-picker > .mat-mdc-text-field-wrapper {
  background-color: #7862b3 !important;
  color: white;
}
::ng-deep .date-range-picker .mat-mdc-text-field-wrapper > * {
  color: white !important;
}
::ng-deep .date-range-picker * {
  color: $thistle !important;
}
.packet-type-selector {
  width: 90%;
}
.statistic-type-tr {
  width: 99vw;
}
.statistic-type-th {
  width: 100%;
}
.statistic-main-container {
  overflow-y: auto;
  height: 80vh;
  overflow-x: hidden;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.statistic-title {
  font-size: 1.5rem;
  color: $amethyst;
  justify-content: center;
  text-align: center;
}
::ng-deep .packet-type-selector * {
  color: $thistle;
}
::ng-deep .selector-paginator * {
  color: $thistle !important;
}
.mat-mdc-paginator {
  background-color: #7862b3 !important;
  border-radius: 8px;
}
::ng-deep .mat-calendar {
  background-color: #d6c8fb !important;
}
.shared-buttons {
  color: lighten($amethyst, 15%) !important;
  margin-left: 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  height: 2.5rem !important;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;

  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
    color: white !important;
    transform: scale(1.05) !important;
    filter: brightness(1.2) !important;
  }
}
::ng-deep .submit-button {
  width: 5rem !important;
  @extend .shared-buttons;
  margin-left: 2rem;
}
::ng-deep .mode-button {
  @extend .shared-buttons;
  width: 5.5em !important;
  margin-right: 2rem;
}
.timeline-slider {
  width: 15vw;
}
::ng-deep .mdc-slider__track--inactive {
  background-color: $thistle !important;
}

::ng-deep .selector-div .mat-mdc-text-field-wrapper {
  background-color: #7862b3 !important;
  color: white;
}
::ng-deep .selector-div .mat-mdc-text-field-wrapper * {
  color: white !important;
}
.timeline-outer {
  display: flex;
  justify-content: center;
}
::ng-deep .timeline-date {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
::ng-deep .info-button {
  margin-top: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  color: lighten($amethyst, 15%) !important;
  margin-left: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  height: 2rem !important;
  width: 2rem !important;
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.17) !important;

  transition: all 0.3s ease !important;
  &:hover {
    background: linear-gradient(135deg, $amethyst, $royal-pruple) !important;
    color: white !important;

    filter: brightness(1.2) !important;
  }
}
.info-div {
  width: 3vw;
}
.single-graph-container {
  width: 49%;
}
.all-single-graphs-container {
  display: flex;
}
::ng-deep .mat-mdc-paginator-page-size-label {
  display: none !important;
}
.export-button-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
